# Easier navigation: .., ..., ...., ....., ~ and -
alias -g ..="cd .."
alias -g ...="cd ../.."
alias -g ....="cd ../../.."
alias -g .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias bubc="brew upgrade && brew cleanup"
alias bubo="brew update && brew outdated"
alias bubu="bubo && bubc"
alias cat="bat"
alias cp="cp -irv"
alias df="df -H"
alias du="du -sh"
alias g="git "
alias less="less --ignore-case --raw-control-chars"
alias l="ls -l"
alias ls="exa --classify --group --git"
alias ll='ls -al'
alias make="nice make"
alias mkdir="mkdir -vp"
alias mv="mv -iv"
alias rg="rg --colors 'match:style:nobold' --colors 'path:style:nobold'"
alias rm="rm -iv"
alias rsync="rsync --partial --progress --human-readable --compress"
alias sha256="shasum -a 256"
